body {
margin: 0 auto;
font-family: "IBM Plex Sans";
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}

#top-white-section {
  width: 100%;
  max-width: 1920px;
  height: 1300px;
  display: flex;
}

#top-white-left-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 650px;
  padding-left: 30px;
  margin-top: 25px;
  margin-left:240px;
}

#logo {
width: 455px;
padding-left: 22px;
  }
}

@media screen and (max-width: 500px) {
  #logo {
    width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  #logo {
    position: relative;
    top: 30px;
  }
}

h1 {
  font-size: 70px;
  font-weight: 400;
  line-height: 90px;
  color: #2b2b2b;
  margin-top: 80px;
  padding-left: 22px;
  color: #04A07C;
}

@media screen and (max-width: 1280px) {
  #top-white-left-wrapper {
    position: relative;
    margin-left: 0;
    right: 30px;
  }
}

#second-section {
  clear: both;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 400px;
  left: 275px;
}

@media screen and (max-width: 1280px) {
  #second-section {
    left:0;
  }
}


form {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.text-box {

    width: 100%;
    max-width: 400px;
    height: 30px;
    margin-bottom: 30px;
    border-color: #EDEDED;
    border-style: solid;
  }

.text-box-2 {

      width: 100%;
      max-width: 400px;
      height: 30px;
      margin-bottom: 10px;
      border-color: #EDEDED;
      border-style: solid;
    }

#message-box {
  margin-bottom: 30px;
  width: 100%;
  max-width: 400px;
  height: 300px;
  line-height: normal;
  font-family: "IBM Plex Sans";
  border-color: #EDEDED;
}

textarea:focus, input:focus {
border: 1px solid grey !important;
box-shadow: 0 0 3px grey !important;
-moz-box-shadow: 0 0 3px grey !important;
-webkit-box-shadow: 0 0 3px grey !important;
}

input:focus, textarea:focus, select:focus {
outline-offset: 0px !important;
outline: none !important;
}

#submit {
  width: 100%;
  max-width: 70px;
  height: 40px;
  background-color: #05B693;
  color: white;
  border: none;
  margin-top: 10px;
}

#top-middle-wrapper {
  height: 500px;
  width: 400px;
  position: relative;
  left: 100px;
  bottom: 20px;
  font-size: 20px;
}

#top-right-wrapper {
  width: 900px;
  margin-left: 200px;
}

.small-form-text {
  font-size: 13px;
  color: #2b2b2b;
}

.nav-links {
  text-decoration: none !important;
  font-family:"IBM Plex Sans";
  font-size: 16px;
  color: #000000;
}

#nav-bar ul {

  background-color: white;
  width:100%;
  max-width: 500px;
  height: 35px;
  display: flex;
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 45px;
  right: 305px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 18px;
  list-style: none;
}

@media screen and (max-width: 1280px) {
  #nav-bar ul {
    position: relative;
    right: 0;
  }
}

#news-section {
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  height: 700px;
  max-width: 1920px;
  background: rgb(234,244,241);
  background: linear-gradient(rgba(234,244,241,1) 5%, rgba(235,244,241,1) 18%, rgba(250,252,251,1) 43%);
  padding-left: 20px;
}



#news-left-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  left: 165px;
}
@media screen and (max-width: 1280px) {
  #news-left-wrapper {
    left:30px;
  }
}

#big-square-box {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 430px;
  top: 160px;
}

#news-left-wrapper h2 {
  position: relative;
  top: 100px;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  line-height: 25px;
  color: #404040;
  letter-spacing: 4px;
}

.writing-over-top {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

#news-left-wrapper h3 {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  left: 20px;
}

#attribution-date {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  bottom: 30px;
  left: 20px;
}

#small-images-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  width: 500px;
  top: 206px;
  right:30px;
}

@media screen and (max-width: 1280px) {
  #small-images-wrapper {
    left: 50px;

  }
}

#small-green-square {
  position: relative;
  width: 100%;
  max-width: 100px;
}

#top-small-box-para-wrapper {
  display: flex;
  flex-direction: row;
}

#top-small-box-para-wrapper h3 {
  position: relative;
  left: 20px;
  bottom: 10px;
}

#small-box-attribution-top {
position: relative;
right: 190px;
top: 30px;
font-size: 12px;
font-weight: 500;
color:#878787;

}

#news-hr-1 {
  position: relative;
  border: 0.5px solid #E1DFDF;
  width: 100%;
  max-width: 600px;
  top: 10px;
}

@media screen and (max-width: 1280px) {
#news-hr-1 {
    width: 70%;
    right: 70px;
  }
}

#mid-small-box-para-wrapper h3 {
  position: relative;
  bottom: 35px;
  left: 120px;

}

#small-box-attribution-mid {
position: relative;
left: 120px;
bottom: 45px;
font-size: 12px;
font-weight: 500;
color:#878787;
}

#news-hr-2 {
  position: relative;
  border: 0.5px solid #E1DFDF;
  width: 100%;
  max-width: 600px;
  bottom: 35px;
}

@media screen and (max-width: 1280px) {
#news-hr-2 {
    width: 70%;
    right: 70px;
  }
}

#small-bright-pink-square {
  position: relative;
  width: 100%;
  max-width: 100px;
  top: 40px;
}

#spl-rehab-small-box {
  position: relative;
  width: 100%;
  max-width: 100px;
  top: 55px;
}

#bottom-small-box-para-wrapper {
  position: relative;
  bottom: 60px;
}

#bottom-small-box-para-wrapper h3 {
  position: relative;
  left: 120px;
  bottom: 18px;
}

#small-box-attribution-bottom {
  position: relative;
  left: 120px;
  bottom: 25px;
  font-size: 12px;
  font-weight: 500;
  color:#878787;
}

#careers {
  position: relative;
  border-left: 0.5px solid #E1DFDF;
  height: 500px;
  right: 230px;
  top: 100px;
}

@media screen and (max-width: 1280px) {
  #careers {
    right: 80px;
  }
}


#careers-wrapper {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 500px;
  left: 30px;

}

#careers-wrapper h2 {
  position: relative;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  line-height: 25px;
  color: #404040;
  letter-spacing: 4px;
}

#careers-body-text {
  position: relative;
  top: 20px;
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
}

#careers-wrapper h3 {
  font-family: "IBM Plex Sans";
  font-size: 20px;
  line-height: 30px;
}

.attribution-careers {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  bottom: 10px;
}

.careers-hr {
  position: relative;
  border: 0.5px solid #E1DFDF;
  bottom: 10px;
  width: 100%;
  max-width: 280px;

}

#footer {
  clear: both;
  display: flex;
  width:100%;
  height: 300px;
  max-width: 1920px;
  background-color: #3F9E81;
}

#footer-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 300px;
  margin-top: 40px;
}

@media screen and (max-width: 1280px) {
  #footer-wrapper {
    left: 40px;
  }
}

#footer-left-section {
  width: 100%;
  max-width:300px;
  height: 250px;
  color: #fefefe;
}

#company-info {
  position: relative;
  bottom: 28px;
}

#footer-left-section h4 {
  position: relative;
  bottom:20px;
  color: #fefefe;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
}

#bottom-hippo-logo {
  position: relative;
  top:70px;
}

#nav-footer-section {
  width: 100%;
  max-width: 100px;
}

#nav-footer-section span {
  color: #fefefe;
  text-decoration: underline;
  text-decoration-color: #fefefe;
  position: relative;
  bottom: 30px;
  left: 70px;
}

#nav-footer-section h4 {
  position: relative;
  left: 70px;
  bottom:20px;
  color: #fefefe;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
}

#address-footer-section {
  position: relative;
  left: 250px;
  width:190px;
}

#address-footer-section h4 {
  position: relative;
  left: 70px;
  bottom:20px;
  color: #fefefe;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
}

#footer-address {
  position: relative;
  width: 200px;
  bottom: 20px;
  left: 70px;
  color: #fefefe;
}

#contact-phone-email-section {
  position: relative;
  bottom: 25px;
}

#contact-us-h4 {
position: relative;
top: 10px;
}

#tel-email-footer {
  position: relative;
  left: 70px;
  color: white;
}

#social-icons-footer {
  position: relative;
  left: 425px;
  width: 100%;
  max-width: 120px;
}

#social-icons-footer h4 {
  position: relative;
  left: 70px;
  bottom:20px;
  color: #fefefe;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
}

#social-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
  position: relative;
  left: 70px;
  bottom: 20px;
}

#twitter {
  position: relative;
}
